[user]
    name = Your Name
    email = your.email@example.com

[core]
  pager = delta

[interactive]
  diffFilter = delta --color-only --features=interactive

[delta]
  features = decorations
  line-numbers = true

[delta "interactive"]
  keep-plus-minus-markers = false

[delta "decorations"]
  commit-decoration-style = "#38b2ac" box
  commit-style = raw
  file-syle = omit
  hunk-header-decoration-style = "#38b2ac" box
  hunk-header-file-style = red
  hunk-header-line-number-style = "#067a00"
  hunk-header-style = file line-number syntax
  line-numbers-left-style = "#38b2ac"
  line-numbers-right-style = "#38b2ac"

[alias]
    st = status
    d = diff

[init]
  defaultBranch = master
